<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Adding the thruster units with the macro created in snippets.xacro -->
  <!--
    Important:
    - The thruster IDs must be given as integers and must be unique to each thruster unit
    - The thruster pose in the <origin> block is relative to the body's center of mass. Be
    aware that Gazebo does not use the SNAME convention per default.
  -->
  
 <gazebo>
   <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
     <robotNamespace>/$(arg namespace)</robotNamespace>
     <robotParam>/$(arg namespace)/robot_description</robotParam>
   </plugin>
 </gazebo>
 
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/thruster_snippets.xacro"/>
  <xacro:property name="prop_mesh_file" value="file://$(find bluerov2_description)/meshes/bluerov2_propcw.dae"/>
  
  <!-- Thruster joint and link snippet -->
  <xacro:macro name="thruster_macro"
    params="namespace thruster_id *origin">
    <xacro:thruster_module_first_order_basic_fcn_macro
      namespace="${namespace}"
      thruster_id="${thruster_id}"
      mesh_filename="${prop_mesh_file}"
      dyn_time_constant="0.05"
      rotor_constant="0.1">
      <xacro:insert_block name="origin"/>
    </xacro:thruster_module_first_order_basic_fcn_macro>
  </xacro:macro>

  <!-- IMPROVE Front left-->
  <xacro:thruster_macro namespace="${namespace}" thruster_id="0">
    <origin xyz="0.1475 -0.1 -0.0" rpy="0 0 0.7853981634"/>
  </xacro:thruster_macro>
  <!-- IMPROVE front right-->
  <xacro:thruster_macro namespace="${namespace}" thruster_id="1">
    <origin xyz="0.1475 0.1 -0.0" rpy="0 0 -0.7853981634"/>
  </xacro:thruster_macro>
  <!-- IMPROVE back left-->
  <xacro:thruster_macro namespace="${namespace}" thruster_id="2">
    <origin xyz="-0.1475 -0.1 -0.0" rpy="0 0 2.3561944902"/>
  </xacro:thruster_macro>
  <!-- IMPROVE back right-->
  <xacro:thruster_macro namespace="${namespace}" thruster_id="3">
    <origin xyz="-0.1475 0.1 -0.0" rpy="0 0 -2.3561944902"/>
  </xacro:thruster_macro>

  <!-- IMPROVE left-->
  <xacro:thruster_macro namespace="${namespace}" thruster_id="4">
    <origin xyz="0.00 -0.1105 -0.005" rpy="0 -1.5707963268 0"/>
  </xacro:thruster_macro>
  <!-- IMPROVE right-->
  <xacro:thruster_macro namespace="${namespace}" thruster_id="5">
    <origin xyz="0.00 0.1105 -0.005" rpy="0 -1.5707963268 0"/>
  </xacro:thruster_macro>


  <!-- ###### TO BE IMPLEMENTED ###### -->

  <!-- Mount a Beacon actuator -->
  <!-- <xacro:default_beacon namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_beacon> -->

</robot>
